<h1>Details of a Student</h1>
<table>
  <tr>
    <th>Rollno&emsp;</th>
    <th>Name&nbsp;&nbsp;</th>
    <th>Branch&nbsp;&nbsp;</th>
    <th>CodePairing&nbsp;&nbsp;</th>
    <th>status&nbsp;&nbsp;</th>
    <th>1st technical&nbsp;&nbsp;</th>
    <th>status&nbsp;&nbsp;</th>
    <th>2nd technical&nbsp;&nbsp;</th>
    <th>status&nbsp;&nbsp;</th>
    <th>Final result&nbsp;&nbsp;</th>
  </tr>
</table>