<script type="text/javascript" language="javascript">
    function checkfile(sender) {
        var validExts = new Array(".csv");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Invalid file selected, only" +
                    validExts.toString() + " files are accepted");
            sender.value = '';
            return false;
        }
        else return true;
    }
</script>

<%= form_for :college , :url =>{ :action => :create}  do |f|%>


    <p>College name</p>
    <%= f.text_field :name %>
    <br>
    <p>Number of applicant</p>
    <%= f.text_field :numberofapplicant %>
    <br><br>
    <input id="import" type="file" name="import" onchange="checkfile(this)">
    <br><br>
    <%= f.submit 'Done' %>
<% end %>