<script type="text/javascript" language="javascript">
    function checkfile(sender) {
        var validExts = new Array(".csv");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Invalid file selected, only" +
                    validExts.toString() + " files are accepted");
            sender.value = '';
            return false;
        }
        else return true;
    }
</script>

    <%=  link_to "Show Colleges List", {:controller => "college" , :action => "show"} %>
     <br>
    <br>

    <form action="/college/create" id="college" name="college" method="post" enctype="multipart/form-data">


    <p>College name</p>
    <input type="text" name="name" id="name">
    <br>
    <br>
    <input id="import" type="file" name="import" onchange="checkfile(this)">
    <br><br>
    <input type="submit">

    </form>
