<script type="text/javascript" language="javascript">
    function checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls", ".csv");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Invalid file selected, valid files are of " +
                    validExts.toString() + " types.");
            return false;
        }
        else return true;
    }
</script>


<h1> College name</h1>
<input id="college_name" type="text">
<br/>
<h1>No of Applicants</h1>
<input id="no_of_applicants" type="text">
<br/> <br/><br/>

<input id="import" type="file" accept="*.csv,*.xls" value="Import" onchange="checkfile(this);">
<br/> <br/> <br/>

<input id="done" type="submit" value="Done" onclick="controller.send("new")">