<h1>Listing colleges</h1>

<table id="applicants" class="table table-bordered ">
  <thead>
  <tr>
    <th>Name</th>
    <th>Number Of Applicants</th>

  </tr>
  </thead>

  <tbody>
  <% @colleges.each do |college|  %>

      <tr>
        <td><%= link_to college.name, url="/applicant/show/#{college.name}" %></td>
        <td><%= college.numberofapplicant %></td>
      </tr>

  <% end %>
  </tbody>
</table>

<button type="btn" ><%=  link_to "Add New College", new_college_path %></button>
