<% content_for :title do %>
    CampusHunter - Delete User
<% end %>


<% content_for :scripts do %>
    <script type="text/javascript">

        function changeId() {
            $('#loginbox').attr('id', 'signup');
        }
    </script>
<% end %>


<body id="login-bg">
<%= form_for :user, :url => {:action => :del} do |f| %>
    <div id="login-holder">
      <div id="logo-login">
        <a href="">
          <img style="width: 156px; height: 40px;" src="/assets/shared/logo.png" alt="Logo"/>
        </a>
      </div>
      <div class="clear"></div>
      <div id="loginbox">
        <div id="login-inner" style="width: 400px;">

          <table border="0" cellpadding="0">
            <tr>
              <th><%= f.label :email %></th>
              <td>
                <%= text_field :email, params[:email], :class => "login-inp" %>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <%= f.submit "Delete", :label => 'Delete', :class => "submit-login" %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
<% end %>





