<h1>Delete User</h1>
<%= form_for :user, :url => {:action => :del} do |f| %>
    <p>
     <label>email</label>
      <%= text_field :email, params[:email] %>
    </p>
    <p class="button"><%= submit_tag "Delete" %></p>

<% end %>