<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title>
    CampusHunter
  </title>

  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag "application" %>

</head>

<body>

<%= yield %>

</body>

</html>